:8002 {
    {% for app in iter_values_named(suffix="MFE_APP") %}
    @mfe_{{ app["name"] }} {
        path /{{ app["name"] }} /{{ app["name"] }}/*
    }
    handle @mfe_{{ app["name"] }} {
        uri strip_prefix /{{ app["name"] }}
        root * /openedx/dist/{{ app["name"] }}
        try_files /{path} /index.html
        file_server
    }
    {% endfor %}
}
